

  <div class="container  mt-5">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="50">
        <mat-grid-tile>
            <img src="../../assets/spring-angular.png" style="width: 80%;cursor: pointer;" routerLink="/employee">
        </mat-grid-tile>
        <mat-grid-tile><img src="../../assets/comming soon.png" style="width: 80%;"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/comming soon.png" style="width: 80%;"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/comming soon.png" style="width: 80%;"></mat-grid-tile>
      </mat-grid-list>
  </div>